Provedor-WS-EX/web/WEB-INF/wsdl/WSExterno.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws/" name="WSExterno" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws/" schemaLocation="WSExterno_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="buscarReserva">
    <part name="parameters" element="tns:buscarReserva"/>
  </message>
  <message name="buscarReservaResponse">
    <part name="parameters" element="tns:buscarReservaResponse"/>
  </message>
  <message name="salvarReservaHotel">
    <part name="parameters" element="tns:salvarReservaHotel"/>
  </message>
  <message name="salvarReservaHotelResponse">
    <part name="parameters" element="tns:salvarReservaHotelResponse"/>
  </message>
  <message name="listarReservasUsuario">
    <part name="parameters" element="tns:listarReservasUsuario"/>
  </message>
  <message name="listarReservasUsuarioResponse">
    <part name="parameters" element="tns:listarReservasUsuarioResponse"/>
  </message>
  <message name="listaHotelPorCidade">
    <part name="parameters" element="tns:listaHotelPorCidade"/>
  </message>
  <message name="listaHotelPorCidadeResponse">
    <part name="parameters" element="tns:listaHotelPorCidadeResponse"/>
  </message>
  <portType name="WSExterno">
    <operation name="buscarReserva">
      <input wsam:Action="http://ws/WSExterno/buscarReservaRequest" message="tns:buscarReserva"/>
      <output wsam:Action="http://ws/WSExterno/buscarReservaResponse" message="tns:buscarReservaResponse"/>
    </operation>
    <operation name="salvarReservaHotel">
      <input wsam:Action="http://ws/WSExterno/salvarReservaHotelRequest" message="tns:salvarReservaHotel"/>
      <output wsam:Action="http://ws/WSExterno/salvarReservaHotelResponse" message="tns:salvarReservaHotelResponse"/>
    </operation>
    <operation name="listarReservasUsuario">
      <input wsam:Action="http://ws/WSExterno/listarReservasUsuarioRequest" message="tns:listarReservasUsuario"/>
      <output wsam:Action="http://ws/WSExterno/listarReservasUsuarioResponse" message="tns:listarReservasUsuarioResponse"/>
    </operation>
    <operation name="listaHotelPorCidade">
      <input wsam:Action="http://ws/WSExterno/listaHotelPorCidadeRequest" message="tns:listaHotelPorCidade"/>
      <output wsam:Action="http://ws/WSExterno/listaHotelPorCidadeResponse" message="tns:listaHotelPorCidadeResponse"/>
    </operation>
  </portType>
  <binding name="WSExternoPortBinding" type="tns:WSExterno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="buscarReserva">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvarReservaHotel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarReservasUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listaHotelPorCidade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSExterno">
    <port name="WSExternoPort" binding="tns:WSExternoPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

