AgenciaDeTurismo/src/conf/xml-resources/web-service-references/Locadora/wsdl/Locadora.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://service.pos.com/" name="locadora" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.pos.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.pos.com/" schemaLocation="Locadora_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="pesquisarReserva">
    <part name="parameters" element="tns:pesquisarReserva"/>
  </message>
  <message name="pesquisarReservaResponse">
    <part name="parameters" element="tns:pesquisarReservaResponse"/>
  </message>
  <message name="listarCarrosPorLocadora">
    <part name="parameters" element="tns:listarCarrosPorLocadora"/>
  </message>
  <message name="listarCarrosPorLocadoraResponse">
    <part name="parameters" element="tns:listarCarrosPorLocadoraResponse"/>
  </message>
  <message name="buscarLocadorasPorCidade">
    <part name="parameters" element="tns:buscarLocadorasPorCidade"/>
  </message>
  <message name="buscarLocadorasPorCidadeResponse">
    <part name="parameters" element="tns:buscarLocadorasPorCidadeResponse"/>
  </message>
  <message name="criarReserva">
    <part name="parameters" element="tns:criarReserva"/>
  </message>
  <message name="criarReservaResponse">
    <part name="parameters" element="tns:criarReservaResponse"/>
  </message>
  <message name="listarReservas">
    <part name="parameters" element="tns:listarReservas"/>
  </message>
  <message name="listarReservasResponse">
    <part name="parameters" element="tns:listarReservasResponse"/>
  </message>
  <message name="listarCarros">
    <part name="parameters" element="tns:listarCarros"/>
  </message>
  <message name="listarCarrosResponse">
    <part name="parameters" element="tns:listarCarrosResponse"/>
  </message>
  <portType name="ExternoCarroWS">
    <operation name="pesquisarReserva">
      <input wsam:Action="http://service.pos.com/ExternoCarroWS/pesquisarReservaRequest" message="tns:pesquisarReserva"/>
      <output wsam:Action="http://service.pos.com/ExternoCarroWS/pesquisarReservaResponse" message="tns:pesquisarReservaResponse"/>
    </operation>
    <operation name="listarCarrosPorLocadora">
      <input wsam:Action="http://service.pos.com/ExternoCarroWS/listarCarrosPorLocadoraRequest" message="tns:listarCarrosPorLocadora"/>
      <output wsam:Action="http://service.pos.com/ExternoCarroWS/listarCarrosPorLocadoraResponse" message="tns:listarCarrosPorLocadoraResponse"/>
    </operation>
    <operation name="buscarLocadorasPorCidade">
      <input wsam:Action="http://service.pos.com/ExternoCarroWS/buscarLocadorasPorCidadeRequest" message="tns:buscarLocadorasPorCidade"/>
      <output wsam:Action="http://service.pos.com/ExternoCarroWS/buscarLocadorasPorCidadeResponse" message="tns:buscarLocadorasPorCidadeResponse"/>
    </operation>
    <operation name="criarReserva">
      <input wsam:Action="http://service.pos.com/ExternoCarroWS/criarReservaRequest" message="tns:criarReserva"/>
      <output wsam:Action="http://service.pos.com/ExternoCarroWS/criarReservaResponse" message="tns:criarReservaResponse"/>
    </operation>
    <operation name="listarReservas">
      <input wsam:Action="http://service.pos.com/ExternoCarroWS/listarReservasRequest" message="tns:listarReservas"/>
      <output wsam:Action="http://service.pos.com/ExternoCarroWS/listarReservasResponse" message="tns:listarReservasResponse"/>
    </operation>
    <operation name="listarCarros">
      <input wsam:Action="http://service.pos.com/ExternoCarroWS/listarCarrosRequest" message="tns:listarCarros"/>
      <output wsam:Action="http://service.pos.com/ExternoCarroWS/listarCarrosResponse" message="tns:listarCarrosResponse"/>
    </operation>
  </portType>
  <binding name="ExternoCarroWSPortBinding" type="tns:ExternoCarroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pesquisarReserva">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarCarrosPorLocadora">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarLocadorasPorCidade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="criarReserva">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarReservas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarCarros">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="locadora">
    <port name="ExternoCarroWSPort" binding="tns:ExternoCarroWSPortBinding">
      <soap:address location="http://localhost:8080/LocadoraCarroProvider/locadora"/>
    </port>
  </service>
</definitions>

