AgenciaDeTurismo/web/WEB-INF/wsdl/ServicosDePassagensWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.wsagenciaprovider.br.com/" name="ServicosDePassagensWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.wsagenciaprovider.br.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.wsagenciaprovider.br.com/" schemaLocation="ServicosDePassagensWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="comprarPassagemIda">
    <part name="parameters" element="tns:comprarPassagemIda"/>
  </message>
  <message name="comprarPassagemIdaResponse">
    <part name="parameters" element="tns:comprarPassagemIdaResponse"/>
  </message>
  <message name="comprarPassagemIdaVolta">
    <part name="parameters" element="tns:comprarPassagemIdaVolta"/>
  </message>
  <message name="comprarPassagemIdaVoltaResponse">
    <part name="parameters" element="tns:comprarPassagemIdaVoltaResponse"/>
  </message>
  <message name="bucarVoos">
    <part name="parameters" element="tns:bucarVoos"/>
  </message>
  <message name="bucarVoosResponse">
    <part name="parameters" element="tns:bucarVoosResponse"/>
  </message>
  <message name="listarPassagens">
    <part name="parameters" element="tns:listarPassagens"/>
  </message>
  <message name="listarPassagensResponse">
    <part name="parameters" element="tns:listarPassagensResponse"/>
  </message>
  <message name="cancelarPassagem">
    <part name="parameters" element="tns:cancelarPassagem"/>
  </message>
  <message name="cancelarPassagemResponse">
    <part name="parameters" element="tns:cancelarPassagemResponse"/>
  </message>
  <portType name="WSServices">
    <operation name="comprarPassagemIda">
      <input wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/comprarPassagemIdaRequest" message="tns:comprarPassagemIda"/>
      <output wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/comprarPassagemIdaResponse" message="tns:comprarPassagemIdaResponse"/>
    </operation>
    <operation name="comprarPassagemIdaVolta">
      <input wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/comprarPassagemIdaVoltaRequest" message="tns:comprarPassagemIdaVolta"/>
      <output wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/comprarPassagemIdaVoltaResponse" message="tns:comprarPassagemIdaVoltaResponse"/>
    </operation>
    <operation name="bucarVoos">
      <input wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/bucarVoosRequest" message="tns:bucarVoos"/>
      <output wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/bucarVoosResponse" message="tns:bucarVoosResponse"/>
    </operation>
    <operation name="listarPassagens">
      <input wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/listarPassagensRequest" message="tns:listarPassagens"/>
      <output wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/listarPassagensResponse" message="tns:listarPassagensResponse"/>
    </operation>
    <operation name="cancelarPassagem">
      <input wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/cancelarPassagemRequest" message="tns:cancelarPassagem"/>
      <output wsam:Action="http://webservices.wsagenciaprovider.br.com/WSServices/cancelarPassagemResponse" message="tns:cancelarPassagemResponse"/>
    </operation>
  </portType>
  <binding name="WSServicesPortBinding" type="tns:WSServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="comprarPassagemIda">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="comprarPassagemIdaVolta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bucarVoos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarPassagens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelarPassagem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServicosDePassagensWS">
    <port name="WSServicesPort" binding="tns:WSServicesPortBinding">
      <soap:address location="http://10.10.1.48:8080/ServicosDePassagensWS/WSServices"/>
    </port>
  </service>
</definitions>

