teste-provedor-ex/xml-resources/web-service-references/WSExterno/wsdl/localhost_8080/WSExterno/WSExterno.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSExterno">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WSExterno/WSExterno?xsd=1"/>
</xsd:schema>
</types>
<message name="salvarReservaHotel">
<part name="parameters" element="tns:salvarReservaHotel"/>
</message>
<message name="salvarReservaHotelResponse">
<part name="parameters" element="tns:salvarReservaHotelResponse"/>
</message>
<message name="todosQuatosPorHotel">
<part name="parameters" element="tns:todosQuatosPorHotel"/>
</message>
<message name="todosQuatosPorHotelResponse">
<part name="parameters" element="tns:todosQuatosPorHotelResponse"/>
</message>
<message name="listaHotelPorCidade">
<part name="parameters" element="tns:listaHotelPorCidade"/>
</message>
<message name="listaHotelPorCidadeResponse">
<part name="parameters" element="tns:listaHotelPorCidadeResponse"/>
</message>
<portType name="WSExterno">
<operation name="salvarReservaHotel">
<input wsam:Action="http://ws/WSExterno/salvarReservaHotelRequest" message="tns:salvarReservaHotel"/>
<output wsam:Action="http://ws/WSExterno/salvarReservaHotelResponse" message="tns:salvarReservaHotelResponse"/>
</operation>
<operation name="todosQuatosPorHotel">
<input wsam:Action="http://ws/WSExterno/todosQuatosPorHotelRequest" message="tns:todosQuatosPorHotel"/>
<output wsam:Action="http://ws/WSExterno/todosQuatosPorHotelResponse" message="tns:todosQuatosPorHotelResponse"/>
</operation>
<operation name="listaHotelPorCidade">
<input wsam:Action="http://ws/WSExterno/listaHotelPorCidadeRequest" message="tns:listaHotelPorCidade"/>
<output wsam:Action="http://ws/WSExterno/listaHotelPorCidadeResponse" message="tns:listaHotelPorCidadeResponse"/>
</operation>
</portType>
<binding name="WSExternoPortBinding" type="tns:WSExterno">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="salvarReservaHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todosQuatosPorHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaHotelPorCidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSExterno">
<port name="WSExternoPort" binding="tns:WSExternoPortBinding">
<soap:address location="http://localhost:8080/WSExterno/WSExterno"/>
</port>
</service>
</definitions>