teste-provedor-interno/xml-resources/web-service-references/WSInternoJPA/wsdl/localhost_8080/WSInternoJPA/WSInternoJPA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jpa.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jpa.ws/" name="WSInternoJPA">
<types>
<xsd:schema>
<xsd:import namespace="http://jpa.ws/" schemaLocation="http://localhost:8080/WSInternoJPA/WSInternoJPA?xsd=1"/>
</xsd:schema>
</types>
<message name="salvarReservaHotel">
<part name="parameters" element="tns:salvarReservaHotel"/>
</message>
<message name="salvarReservaHotelResponse">
<part name="parameters" element="tns:salvarReservaHotelResponse"/>
</message>
<message name="buscarHoteisCidade">
<part name="parameters" element="tns:buscarHoteisCidade"/>
</message>
<message name="buscarHoteisCidadeResponse">
<part name="parameters" element="tns:buscarHoteisCidadeResponse"/>
</message>
<message name="buscarHospedeLogin">
<part name="parameters" element="tns:buscarHospedeLogin"/>
</message>
<message name="buscarHospedeLoginResponse">
<part name="parameters" element="tns:buscarHospedeLoginResponse"/>
</message>
<message name="atualizarQuarto">
<part name="parameters" element="tns:atualizarQuarto"/>
</message>
<message name="atualizarQuartoResponse">
<part name="parameters" element="tns:atualizarQuartoResponse"/>
</message>
<message name="buscarQuarto">
<part name="parameters" element="tns:buscarQuarto"/>
</message>
<message name="buscarQuartoResponse">
<part name="parameters" element="tns:buscarQuartoResponse"/>
</message>
<message name="salvarQuarto">
<part name="parameters" element="tns:salvarQuarto"/>
</message>
<message name="salvarQuartoResponse">
<part name="parameters" element="tns:salvarQuartoResponse"/>
</message>
<message name="removerQuarto">
<part name="parameters" element="tns:removerQuarto"/>
</message>
<message name="removerQuartoResponse">
<part name="parameters" element="tns:removerQuartoResponse"/>
</message>
<message name="atualizarHotel">
<part name="parameters" element="tns:atualizarHotel"/>
</message>
<message name="atualizarHotelResponse">
<part name="parameters" element="tns:atualizarHotelResponse"/>
</message>
<message name="listarHoteis">
<part name="parameters" element="tns:listarHoteis"/>
</message>
<message name="listarHoteisResponse">
<part name="parameters" element="tns:listarHoteisResponse"/>
</message>
<message name="buscarGerente">
<part name="parameters" element="tns:buscarGerente"/>
</message>
<message name="buscarGerenteResponse">
<part name="parameters" element="tns:buscarGerenteResponse"/>
</message>
<message name="salvarHospede">
<part name="parameters" element="tns:salvarHospede"/>
</message>
<message name="salvarHospedeResponse">
<part name="parameters" element="tns:salvarHospedeResponse"/>
</message>
<message name="loginHospede">
<part name="parameters" element="tns:loginHospede"/>
</message>
<message name="loginHospedeResponse">
<part name="parameters" element="tns:loginHospedeResponse"/>
</message>
<message name="atualizarHospede">
<part name="parameters" element="tns:atualizarHospede"/>
</message>
<message name="atualizarHospedeResponse">
<part name="parameters" element="tns:atualizarHospedeResponse"/>
</message>
<message name="removerHospede">
<part name="parameters" element="tns:removerHospede"/>
</message>
<message name="removerHospedeResponse">
<part name="parameters" element="tns:removerHospedeResponse"/>
</message>
<message name="salvarHotel">
<part name="parameters" element="tns:salvarHotel"/>
</message>
<message name="salvarHotelResponse">
<part name="parameters" element="tns:salvarHotelResponse"/>
</message>
<message name="buscarHotel">
<part name="parameters" element="tns:buscarHotel"/>
</message>
<message name="buscarHotelResponse">
<part name="parameters" element="tns:buscarHotelResponse"/>
</message>
<message name="removerHotel">
<part name="parameters" element="tns:removerHotel"/>
</message>
<message name="removerHotelResponse">
<part name="parameters" element="tns:removerHotelResponse"/>
</message>
<message name="buscarHospede">
<part name="parameters" element="tns:buscarHospede"/>
</message>
<message name="buscarHospedeResponse">
<part name="parameters" element="tns:buscarHospedeResponse"/>
</message>
<message name="atualizarGerente">
<part name="parameters" element="tns:atualizarGerente"/>
</message>
<message name="atualizarGerenteResponse">
<part name="parameters" element="tns:atualizarGerenteResponse"/>
</message>
<message name="tiposDeQuatosPorHotel">
<part name="parameters" element="tns:tiposDeQuatosPorHotel"/>
</message>
<message name="tiposDeQuatosPorHotelResponse">
<part name="parameters" element="tns:tiposDeQuatosPorHotelResponse"/>
</message>
<portType name="WSInternoJPA">
<operation name="salvarReservaHotel">
<input wsam:Action="http://jpa.ws/WSInternoJPA/salvarReservaHotelRequest" message="tns:salvarReservaHotel"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/salvarReservaHotelResponse" message="tns:salvarReservaHotelResponse"/>
</operation>
<operation name="buscarHoteisCidade">
<input wsam:Action="http://jpa.ws/WSInternoJPA/buscarHoteisCidadeRequest" message="tns:buscarHoteisCidade"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/buscarHoteisCidadeResponse" message="tns:buscarHoteisCidadeResponse"/>
</operation>
<operation name="buscarHospedeLogin">
<input wsam:Action="http://jpa.ws/WSInternoJPA/buscarHospedeLoginRequest" message="tns:buscarHospedeLogin"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/buscarHospedeLoginResponse" message="tns:buscarHospedeLoginResponse"/>
</operation>
<operation name="atualizarQuarto">
<input wsam:Action="http://jpa.ws/WSInternoJPA/atualizarQuartoRequest" message="tns:atualizarQuarto"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/atualizarQuartoResponse" message="tns:atualizarQuartoResponse"/>
</operation>
<operation name="buscarQuarto">
<input wsam:Action="http://jpa.ws/WSInternoJPA/buscarQuartoRequest" message="tns:buscarQuarto"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/buscarQuartoResponse" message="tns:buscarQuartoResponse"/>
</operation>
<operation name="salvarQuarto">
<input wsam:Action="http://jpa.ws/WSInternoJPA/salvarQuartoRequest" message="tns:salvarQuarto"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/salvarQuartoResponse" message="tns:salvarQuartoResponse"/>
</operation>
<operation name="removerQuarto">
<input wsam:Action="http://jpa.ws/WSInternoJPA/removerQuartoRequest" message="tns:removerQuarto"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/removerQuartoResponse" message="tns:removerQuartoResponse"/>
</operation>
<operation name="atualizarHotel">
<input wsam:Action="http://jpa.ws/WSInternoJPA/atualizarHotelRequest" message="tns:atualizarHotel"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/atualizarHotelResponse" message="tns:atualizarHotelResponse"/>
</operation>
<operation name="listarHoteis">
<input wsam:Action="http://jpa.ws/WSInternoJPA/listarHoteisRequest" message="tns:listarHoteis"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/listarHoteisResponse" message="tns:listarHoteisResponse"/>
</operation>
<operation name="buscarGerente">
<input wsam:Action="http://jpa.ws/WSInternoJPA/buscarGerenteRequest" message="tns:buscarGerente"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/buscarGerenteResponse" message="tns:buscarGerenteResponse"/>
</operation>
<operation name="salvarHospede">
<input wsam:Action="http://jpa.ws/WSInternoJPA/salvarHospedeRequest" message="tns:salvarHospede"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/salvarHospedeResponse" message="tns:salvarHospedeResponse"/>
</operation>
<operation name="loginHospede">
<input wsam:Action="http://jpa.ws/WSInternoJPA/loginHospedeRequest" message="tns:loginHospede"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/loginHospedeResponse" message="tns:loginHospedeResponse"/>
</operation>
<operation name="atualizarHospede">
<input wsam:Action="http://jpa.ws/WSInternoJPA/atualizarHospedeRequest" message="tns:atualizarHospede"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/atualizarHospedeResponse" message="tns:atualizarHospedeResponse"/>
</operation>
<operation name="removerHospede">
<input wsam:Action="http://jpa.ws/WSInternoJPA/removerHospedeRequest" message="tns:removerHospede"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/removerHospedeResponse" message="tns:removerHospedeResponse"/>
</operation>
<operation name="salvarHotel">
<input wsam:Action="http://jpa.ws/WSInternoJPA/salvarHotelRequest" message="tns:salvarHotel"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/salvarHotelResponse" message="tns:salvarHotelResponse"/>
</operation>
<operation name="buscarHotel">
<input wsam:Action="http://jpa.ws/WSInternoJPA/buscarHotelRequest" message="tns:buscarHotel"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/buscarHotelResponse" message="tns:buscarHotelResponse"/>
</operation>
<operation name="removerHotel">
<input wsam:Action="http://jpa.ws/WSInternoJPA/removerHotelRequest" message="tns:removerHotel"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/removerHotelResponse" message="tns:removerHotelResponse"/>
</operation>
<operation name="buscarHospede">
<input wsam:Action="http://jpa.ws/WSInternoJPA/buscarHospedeRequest" message="tns:buscarHospede"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/buscarHospedeResponse" message="tns:buscarHospedeResponse"/>
</operation>
<operation name="atualizarGerente">
<input wsam:Action="http://jpa.ws/WSInternoJPA/atualizarGerenteRequest" message="tns:atualizarGerente"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/atualizarGerenteResponse" message="tns:atualizarGerenteResponse"/>
</operation>
<operation name="tiposDeQuatosPorHotel">
<input wsam:Action="http://jpa.ws/WSInternoJPA/tiposDeQuatosPorHotelRequest" message="tns:tiposDeQuatosPorHotel"/>
<output wsam:Action="http://jpa.ws/WSInternoJPA/tiposDeQuatosPorHotelResponse" message="tns:tiposDeQuatosPorHotelResponse"/>
</operation>
</portType>
<binding name="WSInternoJPAPortBinding" type="tns:WSInternoJPA">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="salvarReservaHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarHoteisCidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarHospedeLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarQuarto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarQuarto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvarQuarto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerQuarto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarHoteis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarGerente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvarHospede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginHospede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarHospede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerHospede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvarHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarHospede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarGerente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tiposDeQuatosPorHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSInternoJPA">
<port name="WSInternoJPAPort" binding="tns:WSInternoJPAPortBinding">
<soap:address location="http://localhost:8080/WSInternoJPA/WSInternoJPA"/>
</port>
</service>
</definitions>